.tic-tac-toe {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 15vh;
  color: white;
  background-color: #222;
  padding: 20px;
  margin-bottom: 1vh;
  text-transform: uppercase;
  text-align: center;
}

.title__main {
  font-size: 5vw;
  border-bottom: white 1px solid;
}

.title__sub {
  font-size: 3vw;
  font-weight: 100;
}

.board {
  align-self: center;
  --content-width: 50vw;
  --columns: 3;
  --row-size: calc(var(--content-width) / var(--columns));
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-auto-rows: var(--row-size);
  max-width: var(--content-width);
  width: 100%;
}

.board__cell {
  border: 1px solid black;
  font-size: 12vw;
  font-weight: bold;
  padding: 2vh 4vw;
}

.action-bar {
  align-self: center;
}

.action-bar__button-restart {
  background: transparent;
  -webkit-appearance: none;
  border: 2px black solid;
  margin-bottom: 1vh;
  font-size: 3vw;
}

.action-bar__button-restart:hover {
  background: black;
  color: white;
}
